.paarseBalk {
    width: 100vw;
    height: 6.2%;
    background: #5b247f;
}
.logo {
    width: 380px;
    height: 106px;
    position: absolute;
    top: 64px;
    left: 31px;
    display: block;
    background-image: url("logo.png") 0px 0px no-repeat;
}
